@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Regular.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf')  format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Bold.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf')  format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond';
  src: url('../fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaCond-Regular.otf')  format('opentype'),
	     url('../fonts/ProximaNovaCond-Regular.woff') format('woff'), url('../fonts/ProximaNovaCond-Regular.ttf')  format('truetype'), url('../fonts/ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond';
  src: url('../fonts/ProximaNovaCond-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaCond-Bold.otf')  format('opentype'),
	     url('../fonts/ProximaNovaCond-Bold.woff') format('woff'), url('../fonts/ProximaNovaCond-Bold.ttf')  format('truetype'), url('../fonts/ProximaNovaCond-Bold.svg#ProximaNovaCond-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond';
  src: url('../fonts/ProximaNovaCond-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaCond-Black.otf')  format('opentype'), url('../fonts/ProximaNovaCond-Black.woff') format('woff'), url('../fonts/ProximaNovaCond-Black.ttf')  format('truetype'), url('../fonts/ProximaNovaCond-Black.svg#ProximaNovaCond-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCn';
  src: url('../fonts/ProximaNovaExCn-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaExCn-Regular.otf')  format('opentype'),
	     url('../fonts/ProximaNovaExCn-Regular.woff') format('woff'), url('../fonts/ProximaNovaExCn-Regular.ttf')  format('truetype'), url('../fonts/ProximaNovaExCn-Regular.svg#ProximaNovaExCn-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCn';
  src: url('../fonts/ProximaNovaExCn-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaExCn-Semibold.otf')  format('opentype'),
	     url('../fonts/ProximaNovaExCn-Semibold.woff') format('woff'), url('../fonts/ProximaNovaExCn-Semibold.ttf')  format('truetype'), url('../fonts/ProximaNovaExCn-Semibold.svg#ProximaNovaExCn-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCn';
  src: url('../fonts/ProximaNovaExCn-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaExCn-Bold.otf')  format('opentype'),
	     url('../fonts/ProximaNovaExCn-Bold.woff') format('woff'), url('../fonts/ProximaNovaExCn-Bold.ttf')  format('truetype'), url('../fonts/ProximaNovaExCn-Bold.svg#ProximaNovaExCn-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

body{
    background: #f7f7f7;
	margin:0;
	padding: 0;
	font-family: 'ProximaNova', sans-serif;
	font-size: 15px;
    font-weight: 400;
	line-height:1.4;
    letter-spacing: 0.05em;
    color: rgb(0, 0, 74);
	min-width: 360px;
}

button,input,select,textarea{
    font-family: 'ProximaNova'; 
    font-size: 20px;
}

.wrapper {
    max-width:1200px;
    padding:0 40px;
    margin:0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex_end {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.flex_between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*header*/

header {
    box-sizing: border-box; 
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
    position: relative;
}

header .logo-bg {
    background: rgb(0,0,74);
    width: calc((100% - 1200px) /2 + 245px);
    height: 133px;
    position: absolute;
    left: 0;
    z-index: 1;
}

header .line {
    background: rgb(196, 196, 196);
    width: 100%;
    height: 1px;
    position: absolute;
    top: 75px;
}

header .logo-line {
    background: rgb(0,0,74);
    background-image: linear-gradient( 90deg, rgb(0,0,74) 0%, rgb(0,0,122) 100%);
    padding: 10px 0;
    position: relative;
    z-index: 2;
    width: 248px;
}

.logo {
    display: block;
    background: url(../images/logo.png);
    width: 150px;
    height: 110px;
}

header .phones-menu {
    flex: 1;
}

header .phones {
    padding: 13px 0;
}

.button {
    display: inline-block;
    background: rgb(0,0,74);
    background-image: linear-gradient( 90deg, rgb(0,0,74) 0%, rgb(0,0,122) 100%);
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 74);
    border-radius: 3px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2),inset 0px 2px 0px 0px rgba(255, 255, 255, 0.35);
    height: 50px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    font: 700 19px/50px "ProximaNovaCond";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    padding: 0 45px;
}

header .phone {
    margin: auto 0 auto 40px;
}

.phone__number {
    font-size: 24px;
    font-weight: bold;
    color: rgb(0, 0, 74);
    text-decoration: none;
    line-height: 1;
}

.phone__info {
    font-size: 13px;
    color: rgb(98, 98, 98);
}

header .menu {
    display: block;
    padding: 0;
    margin: 0;
}

header .menu li {
    list-style: none;
    float: left;
    position: relative;
}

header .menu a {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 0, 74);
    text-decoration: none;
    padding: 14px 20px;
}

header .menu>li:last-child a {
    color: rgb(53, 72, 254);
    text-decoration: underline;
    padding: 14px 0 14px 20px;
}

header .submenu {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 56px;
    left: 0;
    display: none;
}

header .menu li:hover .submenu {
    display: block;
}

header .submenu li {
    position: relative;
    transition: all .2s linear 0s;
}

header .submenu li a {
    position: relative;
    background-color: #ffffff;
    width: 140px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 0, 74);
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

/*main-screen*/

.main-screen__small-caption {
    font: 70 36px "ProximaNovaCond";
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    z-index: 1000;
}

.main-screen__caption {
    font: 700 66px "ProximaNovaCond";
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 130px 0 5px;
    position: relative;
    z-index: 1000;
}

.kenburn-slider {
    margin: 0 auto;
    position: relative;
}

.kenburn-slider .slides {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.kenburn-slider .slides > li {
    float: left;
    margin-right: -100%;
    width: 100%;
    overflow: hidden;
    height: 485px;
    position: relative;
}

.slide-image {
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.flex-active-slide .slide-image {
    -webkit-animation: zoomout 5s;
    animation: zoomout 5s;
}

@-webkit-keyframes zoomout {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}

.flex-control-nav, .flex-direction-nav {
    display: none;
}

/*products*/

.products {
    margin-top: -109px;
    position: relative;
    z-index: 1000;
}

.products__inner {
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
    border:1px solid rgba(255, 255, 255, 0.4);
    position: relative;
    z-index: 1;
}

.products__item {
    width: 20%;
    box-sizing: border-box;
    border-right:1px solid rgba(255, 255, 255, 0.4);
    padding: 35px 30px 30px;
    text-decoration: none;
}

.products__item_water {
    background: rgb(0,0,74);
    background-image: linear-gradient( 90deg, rgb(0,0,74) 0%, rgb(0,0,122) 100%);
}

.products__item_condensing {
    background: rgb(0,0,74);
    background-image: linear-gradient( 90deg, rgb(0,0,74) 0%, rgb(0,0,122) 100%);
}

.products__item_steam-water {
    background: rgb(0,0,74);
    background-image: linear-gradient( 90deg, rgb(0,0,74) 0%, rgb(0,0,122) 100%);
}

.products__item_thermal {
    background: rgb(0,0,74);
    background-image: linear-gradient( 90deg, rgb(0,0,74) 0%, rgb(0,0,122) 100%);
}

.products__item_outdoor {
    background: rgb(0,0,74);
    background-image: linear-gradient( 90deg, rgb(0,0,74) 0%, rgb(0,0,122) 100%);
}

.products__item:last-child {
    border: none;
}

.products__icon {
    background: #ffffff;
    width: 85px;
    height: 80px;
    margin: 0 auto 20px;
}

.products__text {
    font: 700 16px "ProximaNova";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
}

/*plant-screen*/

.plant-screen {
    background: url(../images/map_block_bg.jpg) no-repeat center;
    background-size: cover;
    padding: 170px 0 85px;
    margin-top: -105px;
    overflow: hidden;
}

.plant-screen .wrapper {
    position: relative;
}

.plant-screen__info {
    flex: 1;
    max-width: 500px;
}

.plant-screen__information {
    margin-bottom: 40px;
}

.information {
    flex: 1;
    position: relative;
}

.information__caption {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 25px;
}

.information__description {
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 1.5;
}

.statistic__item {
    box-sizing: border-box;
    border-left: 7px solid rgb(233, 19, 19);
    padding-left: 28px;
    margin-bottom: 60px;
}

.statistic__item:last-child {
    margin: 0;
}

.statistic__caption {
    font: 700 48px "ProximaNovaCond";
}

.statistic__description {
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin: 5px 0;
    line-height: 1.5;
}

.plant-screen__advantages {
    margin: auto 0 0;
    position: relative;
}

.advantages {
    width: 700px;
}

.advantages__map {
    background: url(../images/map.svg) no-repeat;
    width: 1000px;
    height: 600px;
    position: absolute;
    bottom: 80px;
    right: -242px;
}

.advantages__advantage {
    position: relative;
    box-sizing: border-box;
    padding: 0 10px;
    width: 25%;
}

.advantages__advantage_delivery .advantages__icon {
    position: absolute;
    top: -149px;
    right: 0;
}

.advantages__advantage_delivery.advantages__advantage_visible .advantages__icon {
	transform: translate(-40px, 150px);
}

.advantages__ray {
    content: "";
    background: url(../images/sprites.svg) no-repeat -493px -8px;
    width: 0;
	height: 0; 
    position: absolute;
    right: -44px;
    top: -289px;
    -webkit-transition: all 2s linear 500ms;
    -moz-transition: all 2s linear 500ms;
    -o-transition: all 2s linear 500ms;
    transition: all 2s linear 200ms;
}

.advantages__advantage_visible .advantages__ray {
    width: 134px;
	height: 235px;
	transform: translate(-40px, 150px);
}

.advantages__icon {
    background: rgb(255,255,255);
    background: url(../images/sprites.svg) no-repeat -346px -160px, linear-gradient( 0deg, rgb(227,227,227) 0%, rgb(255,255,255) 23%, rgb(255,255,255) 100%);
    width:0;
    height:0;
    box-sizing: border-box;
    border: 4px solid rgb(0, 0, 74);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    margin: 0 auto 17px;
    -webkit-transition: all 2s linear 500ms;
    -moz-transition: all 2s linear 500ms;
    -o-transition: all 2s linear 500ms;
    transition: all 2s linear 200ms;
}

.advantages__advantage_visible .advantages__icon {
    width:90px;
    height:90px;
}

.advantages__advantage_staff .advantages__icon {
    background-position: -8px -160px, 0 0;
}

.advantages__advantage_project .advantages__icon {
    background-position: -233px -158px, 0 0;
}

.advantages__advantage_no-markup .advantages__icon {
    background-position: -119px -159px, 0 0;
}

.advantages__text {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.2px;
}

.advantages__advantage_delivery .advantages__text {
    position: absolute;
    bottom: 0;
}

.advantages__text span {
    color: rgb(233, 19, 19);
}

/*steps*/

.steps {
    background: rgb(0, 0, 74);
    background: radial-gradient(rgb(0, 0, 74), rgb(9, 9, 186));
    padding: 68px 0 82px;
    position: relative;
    overflow: hidden;
}

.steps .wrapper {
    max-width: 940px;
}

.steps__background {
    background: url(../images/boiler-bg.png) no-repeat;
    width: 670px;
    height: 670px;
    position: absolute;
}

.steps__background_right {
    bottom: -5px;
    right: -143px;
}

.steps__background_left {
    top: 54px;
    left: -538px;
    background-position: right top;
}

.steps h3 {
    font: 700 48px "ProximaNova";
    color: rgb(255, 255, 255);
    margin: 0 0 28px;
}

.steps__wrapper {
    margin: 0 -25px;
}

.steps__group {
    width: 50%;
    box-sizing: border-box;
    padding: 0 25px;
    position: relative;
}

.steps__group::before {
    content: "";
    background: url(../images/sprites.svg) no-repeat -324px -8px;
	width: 56px;
	height: 122px;
    position: absolute;
    left: -37px;
    top: 18px;
    -webkit-transition: all 2s linear 300ms;
    -moz-transition: all 2s linear 300ms;
    -o-transition: all 2s linear 300ms;
    transition: all 2s linear 300ms;
    opacity: 0;
}

.steps__group_visible::before {
    opacity: 1;
}

.steps__number {
    font-size: 60px;
    color: rgb(73, 89, 255);
    font-weight: 700;
    width: 80px;
}

.steps__text {
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 1.3;
    margin: auto 0;
    flex: 1;
}

.steps__step:nth-child(even) .steps__number {
    color: rgb(233, 19, 19);
}

.steps__illustrated {
    width: 50%;
    box-sizing: border-box;
    padding: 0 25px;
    justify-content: center;
    -webkit-transition: all 2s linear 700ms;
    -moz-transition: all 2s linear 700ms;
    -o-transition: all 2s linear 700ms;
    transition: all 2s linear 700ms;
    opacity: 0;
}

.steps__illustrated_visible {
    opacity: 1;
}

.steps__icon {
    background: url(../images/sprites.svg) no-repeat -162px -20px;
    width: 99px;
	height: 98px;
    margin: auto 0;
}

.steps__illustrated_delivery .steps__icon {
    background: url(../images/sprites.svg) no-repeat -8px -31px;
    width: 114px;
	height: 76px;
}

.steps__description  {
    font-size: 17px;
    color: rgb(73, 89, 255);
    font-weight: 700;
    text-transform: uppercase;
    margin: auto 0;
}

 .steps__term {
    font-size: 15px;
    font-weight: 400;
}

/*form*/

.form-wr {
    box-sizing: border-box;
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin-top: 30px;
    position: relative;
}

.form {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px 30px 30px;
    position: relative;
}

.form__caption {
    font-size: 30px;
    color: rgb(0, 0, 74);
    font-weight: 700;
    text-align: center;
    margin-bottom: 23px;
}

.form .wpcf7-form-control-wrap {
    display: block;
    box-sizing: border-box;
    width: 50%;
    padding: 0 15px;
}

.form .wpcf7-form-control {
    display: block;
    box-sizing: border-box;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 3px;
    background-color: rgb(237, 237, 237);
    box-shadow: inset 0px 3px 7px 0px rgba(0, 0, 0, 0.09);
    height: 70px;
    width: 100%;
    font-size: 22px;
    color: rgb(112, 112, 112);
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    padding: 0 30px;
}

.form input:not([type=submit]):focus {
	border: 1px solid rgb(0, 0, 74);
}

.form__button {
    height: 70px;
    width: 100%;
    position: relative;
    padding: 0 0 0 75px;
}

.form__button::before {
    content: "";
    background: url(../images/sprites.svg) no-repeat -406px -1px;
    width: 70px;
    height: 69px;
    border-right: 1px solid rgb(66, 66, 161);
    position: absolute;
    left: 0;
    top: 0;
}

.button__text1 {
    font: 700 20px "ProximaNovaCond";
}

.button__text2 {
    font: 400 17px "ProximaNovaCond";
    text-transform: none;
}

/*documents*/

.documents-screen {
    background-color: rgb(236, 236, 236);
    overflow: hidden;
}

.documents-screen .wrapper {
    position: relative;
}

.documents-screen__background {
    background: url(../images/blazon.svg);
    width: 600px;
    height: 600px;
    position: absolute;
    right: -154px;
    bottom: -72px;
}

.documents-screen__photo {
    background: url(../images/cert-mainpage.png) no-repeat center top;
    background-size: 100% auto;
    width: 51%;
}

.documents-screen__information {
    padding: 65px 0 80px 20px;
}

.information__documents {
    margin: 27px 0 38px;
}

.documents__document {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 0, 74);
    padding: 11px 0 11px 47px;
    position: relative;
}

.documents__document::before {
    content: "";
    background: url(../images/sprites.svg) no-repeat -413px -72px;;
	width: 29px;
	height: 29px;
    position: absolute;
    left: 0;
}

.information__button {
    height: 60px;
    padding: 0 31px;
    line-height: 60px;
}

/*partners*/

.partners {
    background: #ffffff;
    padding: 20px 0;
}

.partners__wrapper {
    margin: 0 -15px;
}

.partners__partner-wr {
    box-sizing: border-box;
    width: 14.28%;
    padding: 0 15px;
}

.partners__partner {
    display: block;
    width: 130px;
    height: 130px;
    margin: 0 auto;
}

.partners__partner_1 {
    background: url(../images/partner-1.jpg) no-repeat;
}

.partners__partner_2 {
    background: url(../images/partner-1.jpg) no-repeat;
}

.partners__partner_3 {
    background: url(../images/partner-1.jpg) no-repeat;
}

.partners__partner_4 {
    background: url(../images/partner-1.jpg) no-repeat;
}

.partners__partner_5 {
    background: url(../images/partner-1.jpg) no-repeat;
}

.partners__partner_6 {
    background: url(../images/partner-1.jpg) no-repeat;
}

.partners__partner_7 {
    background: url(../images/partner-1.jpg) no-repeat;
}

.partners__partner:hover {
    background-position: center bottom;
}

/*footer*/

footer .first-footer {
    background: rgb(0,0,74);
    background-image: linear-gradient( 90deg, rgb(0,0,74) 0%, rgb(0,0,122) 100%);
    padding: 28px 0;
    border-bottom: 1px solid rgb(255,255,255);
}

.logo_footer {
    margin: 0;
}

.contacts__column {
    margin: auto 0;
    max-width: 259px;
}

.contacts__number {
    display: block;
    font-size: 22px;
    line-height: 1.6;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-decoration: none;
}

.contacts__call-order {
    display: block;
    font-size: 20px;
    color: rgb(73, 89, 255);
    font-weight: 700;
    margin-top: 5px;
}

.contacts__line {
    background: rgb(234, 235, 235);
    width: 1px;
    height: 121px;
    margin: 0 35px;
}

.contacts__mail {
    display: block;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-bottom: 10px;
}

.contacts__address {
    font-size: 18px;
    color: rgb(255, 255, 255);
}

footer .second-footer {
    background: rgb(0, 0, 46);
}

footer .menu {
    display: block;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

footer .menu li {
    list-style: none;
    float: left;
    position: relative;
}

footer .menu li:before {
    content: "";
    background-color: rgb(255, 255, 255);
    width: 2px;
    height: 18px;
    position: absolute;
    right: 0;
    top: 22px;
}

footer .menu li:last-child:before {
    display: none;
}

footer .menu a {
    display: inline-block;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 19px 18px;
}

footer .menu li:first-child a {
    padding: 19px 18px 19px 0;
} 

.third-footer {
    background: rgb(0, 0, 46);
    border-top: 1px solid rgb(32, 32, 104);
    padding: 10px 0;
    font-size: 15px;
    color: rgb(186, 186, 186);
}

.third-footer a {
    color: rgb(186, 186, 186);
}

@media screen and (max-width: 1500px) {
	
}

@media screen and (max-width: 1366px) {
    
}

@media screen and (max-width: 1279px) {
    .wrapper {
        padding: 0 15px;
    }
    
    header .navbar {
        display: none;
    }
    
    header .burger {
        display: block;
    }
    
    .advantages {
        width: 570px;
    }
    
    .advantages__map {
        right: -360px;
    }

    .advantages__advantage {
        padding: 0 4px;
    }
    
    .advantages__advantage_delivery::before {
        right: -17px;
        bottom: 48px;
    }
    
    .advantages__text {
        font-size: 15px;
    }

@media screen and (max-width: 1023px) {
	

}

@media screen and (max-width: 767px) {
	
	
}

@media screen and (max-width: 639px) {


}














