@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Regular.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf')  format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Bold.otf')  format('opentype'),
	     url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf')  format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond';
  src: url('../fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaCond-Regular.otf')  format('opentype'),
	     url('../fonts/ProximaNovaCond-Regular.woff') format('woff'), url('../fonts/ProximaNovaCond-Regular.ttf')  format('truetype'), url('../fonts/ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond';
  src: url('../fonts/ProximaNovaCond-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaCond-Bold.otf')  format('opentype'),
	     url('../fonts/ProximaNovaCond-Bold.woff') format('woff'), url('../fonts/ProximaNovaCond-Bold.ttf')  format('truetype'), url('../fonts/ProximaNovaCond-Bold.svg#ProximaNovaCond-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaCond';
  src: url('../fonts/ProximaNovaCond-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaCond-Black.otf')  format('opentype'), url('../fonts/ProximaNovaCond-Black.woff') format('woff'), url('../fonts/ProximaNovaCond-Black.ttf')  format('truetype'), url('../fonts/ProximaNovaCond-Black.svg#ProximaNovaCond-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCn';
  src: url('../fonts/ProximaNovaExCn-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaExCn-Regular.otf')  format('opentype'),
	     url('../fonts/ProximaNovaExCn-Regular.woff') format('woff'), url('../fonts/ProximaNovaExCn-Regular.ttf')  format('truetype'), url('../fonts/ProximaNovaExCn-Regular.svg#ProximaNovaExCn-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCn';
  src: url('../fonts/ProximaNovaExCn-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaExCn-Semibold.otf')  format('opentype'),
	     url('../fonts/ProximaNovaExCn-Semibold.woff') format('woff'), url('../fonts/ProximaNovaExCn-Semibold.ttf')  format('truetype'), url('../fonts/ProximaNovaExCn-Semibold.svg#ProximaNovaExCn-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExCn';
  src: url('../fonts/ProximaNovaExCn-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaExCn-Bold.otf')  format('opentype'),
	     url('../fonts/ProximaNovaExCn-Bold.woff') format('woff'), url('../fonts/ProximaNovaExCn-Bold.ttf')  format('truetype'), url('../fonts/ProximaNovaExCn-Bold.svg#ProximaNovaExCn-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

body{
    background: #f7f7f7;
	margin:0;
	padding: 0;
	font-family: 'ProximaNova', sans-serif;
	font-size: 15px;
    font-weight: 400;
	line-height:1.4;
    letter-spacing: 0.05em;
    color: rgb(0, 0, 74);
	min-width: 360px;
}

button,input,select,textarea{
    font-family: 'ProximaNova'; 
    font-size: 20px;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

.wrapper {
    max-width:1230px;
    padding:0 40px;
    margin:0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex_end {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.flex_between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*header*/

header {
    box-sizing: border-box; 
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
    position: relative;
}

header .logo-bg {
    background: rgb(0,0,74);
    background-image: linear-gradient( 0deg, rgb(0,0,74) 0%, rgb(0,0,122) 100%);
    width: calc((100% - 1230px) /2 + 250px);
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
}

header .line {
    background: rgb(196, 196, 196);
    height: 1px;
    position: absolute;
    top: 75px;
    right: 0;
    left: 0;
}

header .logo-line {
    padding: 10px 0;
    position: relative;
    z-index: 2;
}

.logo {
    display: block;
    background: url(../images/logo.png);
    width: 150px;
    height: 110px;
}

header .phones-menu {
    flex: 1;
}

header .phones {
    padding: 13px 0;
}

.button {
    display: inline-block;
    background: rgb(0,0,74);
    background-image: linear-gradient( 0deg, rgb(0,0,74) 0%, rgb(0,0,122) 100%);
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 74);
    border-radius: 3px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2),inset 0px 2px 0px 0px rgba(255, 255, 255, 0.35);
    height: 50px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    font: 700 19px/50px "ProximaNovaCond";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    padding: 0 45px;
}

header .phone {
    margin: auto 0 auto 40px;
}

.phone__number {
    font-size: 24px;
    font-weight: bold;
    color: rgb(0, 0, 74);
    text-decoration: none;
    line-height: 1;
}

.phone__info {
    font-size: 13px;
    color: rgb(98, 98, 98);
}

header .menu {
    display: block;
    padding: 0;
    margin: 0;
}

header .menu li {
    list-style: none;
    float: left;
    position: relative;
}

header .menu a {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 0, 74);
    text-decoration: none;
    padding: 14px 20px;
}

header .menu>li:last-child a {
    color: rgb(53, 72, 254);
    text-decoration: underline;
    padding: 14px 0 14px 20px;
}

header .sub-menu {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 56px;
    left: 0;
    display: none;
    z-index: 3;
}

header .menu li:hover .sub-menu {
    display: block;
}

header .sub-menu li {
    position: relative;
    transition: all .2s linear 0s;
}

header .sub-menu li a {
    position: relative;
    background-color: #ffffff;
    width: 140px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 0, 74);
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

.burger {
    display: none;
    position: absolute;
    width: 40px;
    height: 42px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    cursor: pointer;
}

.burger span, .burger span::before, .burger span::after {
    display: block;
    cursor: pointer;
    border-radius: 5px;
    height: 3px;
    width: 30px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 10px;
    right: 5px;
    transition: all 200ms ease-in-out;
}

.burger span::before {
    content: '';
    left: 0;
}

.burger span::after {
    content: '';
    left: 0;
    top: 20px;
}

.burger_active span {
    background-color: transparent;
}
    
.burger_active span::before  {
    transform: rotate(45deg);
    top: 8px;
}

.burger_active span::after  {
    transform: rotate(-45deg);
    top: 8px;
} 

/*slider*/

.kenburn-slider .slider-text {
    margin-top: 130px;
}

.kenburn-slider .caption {
    font: 700 66px "ProximaNovaCond";
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 0 5px;
    position: relative;
    z-index: 1000;
    padding: 0 15px;
}

.kenburn-slider .small-caption {
    font: 70 36px "ProximaNovaCond";
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    z-index: 1000;
    padding: 0 15px;
}

.kenburn-slider {
    margin: 0 auto;
    position: relative;
}

.kenburn-slider .slides {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.kenburn-slider .slides > li {
    float: left;
    margin-right: -100%;
    width: 100%;
    overflow: hidden;
    height: 485px;
    position: relative;
}

.slide-image {
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.flex-active-slide .slide-image {
    -webkit-animation: zoomout 5s;
    animation: zoomout 5s;
}

@-webkit-keyframes zoomout {
    
    0% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.flex-control-nav, .flex-direction-nav {
    display: none;
}

/*products*/

.products {
    margin-top: -109px;
    position: relative;
    z-index: 2;
}

.products__inner {
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
    border:1px solid rgba(255, 255, 255, 0.4);
    position: relative;
    z-index: 1;
}

.products__item {
    width: 20%;
    box-sizing: border-box;
    border-right:1px solid rgba(255, 255, 255, 0.4);
    padding: 35px 30px 30px;
    text-decoration: none;
}

.products__item_water {
    background: rgb(0,0,74);
    background-image: linear-gradient( 0deg, rgb(0,0,74) 0%, rgb(0,0,122) 100%);
}

.products__item_condensing {
    background: rgb(0,0,74);
    background-image: linear-gradient( 0deg, rgb(0,0,74) 0%, rgb(0,0,122) 100%);
}

.products__item_steam-water {
    background: rgb(0,0,74);
    background-image: linear-gradient( 0deg, rgb(0,0,74) 0%, rgb(0,0,122) 100%);
}

.products__item_thermal {
    background: rgb(0,0,74);
    background-image: linear-gradient( 0deg, rgb(0,0,74) 0%, rgb(0,0,122) 100%);
}

.products__item_outdoor {
    background: rgb(0,0,74);
    background-image: linear-gradient( 0deg, rgb(0,0,74) 0%, rgb(0,0,122) 100%);
}

.products__item:last-child {
    border: none;
}

.products__icon {
    background: #ffffff;
    width: 100%;  
    max-width: 85px; 
    height: 80px;
    margin: 0 auto 20px;
}

.products__text {
    font: 700 16px "ProximaNova";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
}

/*plant-screen*/

.plant {
    background: url(../images/map_block_bg.jpg) no-repeat center;
    background-size: cover;
    padding: 167px 0 85px;
    margin-top: -105px;
    overflow: hidden;
}

.plant__info {
    flex: 1;
    max-width: 500px;
}

.plant__information {
    margin-bottom: 40px;
}

.information__caption {
    font-size: 48px;
    font-weight: 700;
    margin: 0 0 25px;
}

.information__description {
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 1.5;
}

.statistic__item {
    box-sizing: border-box;
    border-left: 7px solid rgb(233, 19, 19);
    padding: 0 28px;
    margin-bottom: 60px;
}

.statistic__item:last-child {
    margin: 0;
}

.statistic__caption {
    font: 700 48px "ProximaNovaCond";
}

.statistic__description {
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin: 5px 0;
    line-height: 1.5;
    letter-spacing: 0.1px;
}

.plant__advantages {
    margin: auto 0 0;
}

.advantages {
    width: 700px;
    position: relative;
}

.advantages__map {
    background: url(../images/map.svg) no-repeat;
    width: 1180px;
    height: 600px;
    position: absolute;
    bottom: 80px;
    right: -380px;
}

.advantages__advantage {
    position: relative;
    box-sizing: border-box;
    padding: 0 10px;
    width: 25%;
}

.advantages__advantage_delivery .advantages__icon {
    position: absolute;
    top: -149px;
    right: 0;
}

.advantages_visible .advantages__advantage_delivery  .advantages__icon {
	transform: translate(-40px, 150px);
}

.advantages__ray {
    content: "";
    background: url(../images/sprites.svg) no-repeat -493px -8px;
    width: 0;
	height: 0; 
    position: absolute;
    right: -44px;
    top: -289px;
    -webkit-transition: all 2s linear 500ms;
    -moz-transition: all 2s linear 500ms;
    -o-transition: all 2s linear 500ms;
    transition: all 2s linear 200ms;
}

.advantages_visible .advantages__ray {
    width: 134px;
	height: 235px;
	transform: translate(-40px, 150px);
}

.advantages__icon {
    background: rgb(255,255,255);
    background: url(../images/sprites.svg) no-repeat -346px -160px, linear-gradient( 0deg, rgb(227,227,227) 0%, rgb(255,255,255) 23%, rgb(255,255,255) 100%);
    width:0;
    height:0;
    box-sizing: border-box;
    border: 4px solid rgb(0, 0, 74);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    margin: 0 auto 17px;
    -webkit-transition: all 2s linear 500ms;
    -moz-transition: all 2s linear 500ms;
    -o-transition: all 2s linear 500ms;
    transition: all 2s linear 200ms;
}

.advantages_visible .advantages__icon {
    width:90px;
    height:90px;
}

.advantages__advantage_staff .advantages__icon {
    background-position: -8px -160px, 0 0;
}

.advantages__advantage_project .advantages__icon {
    background-position: -233px -158px, 0 0;
}

.advantages__advantage_no-markup .advantages__icon {
    background-position: -119px -159px, 0 0;
}

.advantages__text {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.2px;
}

.advantages__advantage_delivery .advantages__text {
    position: absolute;
    bottom: 0;
}

.advantages__text span {
    color: rgb(233, 19, 19);
}

/*steps*/

.steps {
    background: rgb(0, 0, 74);
    padding: 68px 0 82px;
    position: relative;
    overflow: hidden;
}

.steps__wrapper {
    max-width: 940px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.steps__background {
    background: url(../images/boiler-bg.png) no-repeat,     radial-gradient(rgb(16, 13, 87), rgb(0, 0, 74));
    width: 1135px;
    height: 670px;
    position: absolute;
}

.steps__background_right {
    bottom: -172px;
    right: -621px;
}

.steps__background_left {
    top: -12px;
    left: -1168px;
    background-position: right top;
}

.steps__caption {
    font: 700 48px "ProximaNova";
    color: rgb(255, 255, 255);
    margin: 0 0 42px;
}

.steps__inner {
    margin: 0 -25px;
}

.steps__group {
    width: 50%;
    box-sizing: border-box;
    padding: 0 25px;
    position: relative;
}

.steps__group::before {
    content: "";
    background: url(../images/sprites.svg) no-repeat -324px -8px;
	width: 56px;
	height: 122px;
    position: absolute;
    left: -37px;
    top: 18px;
    -webkit-transition: all 2s linear 300ms;
    -moz-transition: all 2s linear 300ms;
    -o-transition: all 2s linear 300ms;
    transition: all 2s linear 300ms;
    opacity: 0;
}

.steps_visible .steps__group::before {
    opacity: 1;
}

.steps__step:first-child {
    margin-bottom: 25px;
}

.steps__number {
    font-size: 60px;
    color: rgb(73, 89, 255);
    font-weight: 700;
    width: 80px;
    line-height: 1;
}

.steps__text {
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 1.3;
    margin: auto 0;
    flex: 1;
}

.steps__step:nth-child(even) .steps__number {
    color: rgb(233, 19, 19);
}

.steps__illustrated {
    width: 50%;
    box-sizing: border-box;
    padding: 0 25px;
    justify-content: center;
    -webkit-transition: all 2s linear 700ms;
    -moz-transition: all 2s linear 700ms;
    -o-transition: all 2s linear 700ms;
    transition: all 2s linear 700ms;
    opacity: 0;
}

.steps_visible .steps__illustrated {
    opacity: 1;
}

.steps__icon {
    background: url(../images/sprites.svg) no-repeat -162px -20px;
    width: 99px;
	height: 98px;
    margin: auto 0;
}

.steps__illustrated_delivery .steps__icon {
    background: url(../images/sprites.svg) no-repeat -8px -31px;
    width: 114px;
	height: 76px;
}

.steps__description  {
    font-size: 17px;
    color: rgb(73, 89, 255);
    font-weight: 700;
    text-transform: uppercase;
    margin: auto 0;
    padding-left: 15px;
}

 .steps__term {
    font-size: 15px;
    font-weight: 400;
}

.steps__form {
    margin-top: 44px;
}

/*form*/

.form-wr {
    box-sizing: border-box;
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    position: relative;
}

.form {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px 30px 30px;
    position: relative;
}

.form__caption {
    font-size: 30px;
    color: rgb(0, 0, 74);
    font-weight: 700;
    text-align: center;
    margin-bottom: 23px;
}

.form .wpcf7-form-control-wrap {
    display: block;
    box-sizing: border-box;
    width: 50%;
    padding: 0 15px;
}

.form .wpcf7-form-control {
    display: block;
    box-sizing: border-box;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 3px;
    background-color: rgb(237, 237, 237);
    box-shadow: inset 0px 3px 7px 0px rgba(0, 0, 0, 0.09);
    height: 70px;
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    padding: 0 30px;
}

.form input:not([type=submit]):focus {
	border: 1px solid rgb(0, 0, 74);
}

.form__button {
    width: 100%;
}

.button_icon {
    position: relative;
    height: 70px;
    padding: 12px 0 12px 75px;
}

.button_icon::before {
    content: "";
    background: url(../images/sprites.svg) no-repeat -406px -1px;
    width: 70px;
    height: 69px;
    border-right: 1px solid rgb(66, 66, 161);
    position: absolute;
    left: 0;
    top: 0;
}

.button__text1 {
    font: 700 20px "ProximaNovaCond";
}

.button__text2 {
    font: 400 17px "ProximaNovaCond";
    text-transform: none;
}

/*documents*/

.documents{
    background-color: rgb(236, 236, 236);
    overflow: hidden;
}

.documents .wrapper {
    position: relative;
}

.documents__background {
    background: url(../images/blazon.svg);
    width: 802px;
    height: 600px;
    position: absolute;
    right: -358px;
    bottom: -72px;
}

.documents__photo {
    background: url(../images/cert-mainpage.png) no-repeat center;
    background-size: 100% auto;
    width: 51%;
}

.documents__information {
    flex: 1;
    padding: 62px 0 80px 20px;
    position: relative;
}

.information__list {
    margin: 27px 0 38px;
}

.list__item {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 0, 74);
    padding: 11px 0 11px 47px;
    position: relative;
}

.list__item::before {
    content: "";
    background: url(../images/sprites.svg) no-repeat -413px -72px;;
	width: 29px;
	height: 29px;
    position: absolute;
    left: 0;
}

.information__button {
    height: 60px;
    padding: 0 31px;
    line-height: 60px;
}

/*partners*/

.partners {
    background: #ffffff;
    padding: 20px 0;
}

.partners__inner {
    margin: 0 -15px;
}

.partners__partner-wr {
    box-sizing: border-box;
    width: 14.28%;
    padding: 0 15px;
}

.partners__partner {
    display: block;
    width: 130px;
    height: 130px;
    margin: 0 auto;
}

.partners__partner_1 {
    background: url(../images/partner-1.jpg) no-repeat;
}

.partners__partner_2 {
    background: url(../images/partner-1.jpg) no-repeat;
}

.partners__partner_3 {
    background: url(../images/partner-1.jpg) no-repeat;
}

.partners__partner_4 {
    background: url(../images/partner-1.jpg) no-repeat;
}

.partners__partner_5 {
    background: url(../images/partner-1.jpg) no-repeat;
}

.partners__partner_6 {
    background: url(../images/partner-1.jpg) no-repeat;
}

.partners__partner_7 {
    background: url(../images/partner-1.jpg) no-repeat;
}

.partners__partner:hover {
    background-position: center bottom;
}

/*footer*/

footer .first-footer {
    background: rgb(0,0,74);
    background-image: linear-gradient( 0deg, rgb(0,0,74) 0%, rgb(0,0,122) 100%);
    padding: 28px 0;
    border-bottom: 1px solid rgb(255,255,255);
}

.logo_footer {
    margin: 0;
}

.contacts__column {
    display: inline-block;
    margin: auto 0;
}

.contacts__number {
    display: block;
    font-size: 22px;
    line-height: 1.6;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-decoration: none;
}

.contacts__call-order {
    display: block;
    font-size: 20px;
    color: rgb(73, 89, 255);
    font-weight: 700;
    margin-top: 5px;
}

.contacts__line {
    background: rgb(234, 235, 235);
    width: 1px;
    height: 100%;
    margin: 0 35px;
}

.contacts__mail {
    display: block;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-bottom: 10px;
}

.contacts__address {
    font-size: 18px;
    color: rgb(255, 255, 255);
}

footer .second-footer {
    background: rgb(0, 0, 46);
}

footer .menu {
    display: block;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

footer .menu li {
    list-style: none;
    float: left;
    position: relative;
}

footer .menu li:before {
    content: "";
    background-color: rgb(255, 255, 255);
    width: 2px;
    height: 18px;
    position: absolute;
    right: 0;
    top: 22px;
}

footer .menu li:last-child:before {
    display: none;
}

footer .menu a {
    display: inline-block;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 19px 18px;
}

footer .menu li:first-child a {
    padding: 19px 18px 19px 0;
} 

.third-footer {
    background: rgb(0, 0, 46);
    border-top: 1px solid rgb(32, 32, 104);
    padding: 10px 0;
    font-size: 15px;
    color: rgb(186, 186, 186);
}

.third-footer a {
    color: rgb(186, 186, 186);
}

/*inner-pages*/

/*inner-caption*/

.inner-caption {
    background: url(../images/header-bg.jpg) no-repeat center;
    background-size: cover;
    padding: 35px 0;
    font: 700 66px  "ProximaNovaCond";
    color: rgb(255, 255, 255);
}

/*inner-page*/

.inner-page {
    padding: 50px 0 100px;
}

.framed {
    position: relative;
    padding: 50px 60px;
}

.framed::before {
    content: "";
    width: 286px;
    height: 286px;
    border-top: 15px solid #00004a;
    border-left: 15px solid #00004a;
    position: absolute;
    top: 0;
    left: 0;
}

.framed__information {
    flex: 1;
    max-width: 600px;
}

.framed__information .information__description {
    margin-bottom: 30px;
}

.information__description span {
    font-size: 24px;
    font-weight: 700;
}

.framed__photo_one {
    background: rgb(255,255,255);
    background-size: contain;
    position: absolute;
    width: 732px;
    height: 488px;
    right: -300px;
    top: 0;
}

.framed__photo_two {
    background: rgba(10,6,53,0.6);
    background-size: contain;
    position: absolute;
    width: 492px;
    height: 410px;
    right: 0;
    bottom: 30px;
}

.framed__photo_three {
    background: url(../images/plant-1.jpg) no-repeat center;
    background-size: contain;
    position: absolute;
    width: 492px;
    height: 410px;
    top: 60px;
    right: 60px;
}

.details {
    position: relative;
    padding: 30px 0 0 405px;
}

.details__photo {
    background: url(../images/plant-2.png) no-repeat center;
    width: 550px;
    height: 900px;
    position: absolute;
    left: -170px;
    top: -50px;
}

.details__statistic .statistic__item {
    width: 50%;  
}

.details__statistic .statistic__item:last-child {
    margin-bottom: 60px;
}

.banner {
    box-sizing: border-box;
    border: 7px solid rgb(0, 0, 74);
    padding: 30px 40px 35px;
}

.banner__caption {
    font: 700 48px "ProximaNovaCond";
}

.banner__description {
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    margin: 10px 0 20px;
}

.banner__unique {
    font: 700 22px "ProximaNovaCond";
    width: 45%;
    margin: auto 0;
    position: relative;
}

.banner__unique::before {
    content: "";
    background: #f30a0a;
    width: 150px;
    height: 30px;
    position: absolute;
    top: -33px;
    right: -10px;
}

.banner__button {
    width: 53%;
}










/*media*/



@media screen and (max-width: 1500px) {
	
}

@media screen and (max-width: 1366px) {
    
}

@media screen and (max-width: 1279px) {
    .wrapper {
        padding: 0 15px;
    }
    
    header .wrapper {
        flex-direction: column
    }

    header .logo-bg {
        right: 0;
        width: 100%;
        height: 133px;
    }

    header .line {
        display: none;
    }
    
    header .burger {
        display: block;
    }
    
     header .menu {
        display: none;
        position: absolute;
        top: 200px;
        left: 0;
        margin: 0;
        width: 100%;
        text-align: center;
        background: #ffffff;
        z-index: 3;
    }
    
    header .menu li {
        float: none;
    }
    
    header .menu li:hover a {
        background: rgb(0, 0, 74);
        color: #ffffff;
    }
    
    header .menu li a {
        display: block;
        padding: 22px 0;
        border-bottom: 1px solid rgb(0, 0, 74);
    }
    
    header .menu>li:last-child a {
        padding: 22px 0;
    }
    
    header .menu li:hover .sub-menu {
        display: none;
    }
    
    header .menu li .sub-menu {
        position: static;
    }
    
    header .sub-menu li {
        border-top: 1px solid rgb(255, 255, 255);
    }
    
    header .sub-menu li a {
        width: 100%;
    }
    
    header .phones {
        justify-content: center;
    }
    
    .kenburn-slider .slider-text {
        margin-top: 200px;
    }
    
    .products {
        margin-top: 0px;
    }
    
    .products .wrapper {
        padding: 0;
    }
    
    .products__item {
        padding: 30px;
    }
    
    .products__text {
        display: none;
    }
    
    .products__icon {
        margin: 0 auto;
    }
    
    .advantages {
        width: 570px;
    }
    
    .advantages__map {
        right: -540px;
    }
    
    .advantages_visible .advantages__advantage_delivery .advantages__icon {
        transform: translate(-27px, 150px);
    }
    
    .advantages_visible .advantages__ray {
        transform: translate(-27px, 150px);
    }

    .advantages__advantage {
        padding: 0 4px;
    }
    
    .advantages__advantage_delivery::before {
        right: -17px;
        bottom: 48px;
    }
    
    .advantages__text {
        font-size: 15px;
    }
    
    .steps__wrapper {
        max-width: 1000px; 
    }
    
    .steps__background {
        display: none;
    }
    
    .steps__group::before {
        display: none;
    }
    
    .partners__partner-wr {
        width: 33.3333%;
    }
    
    .partners__partner-wr:last-child {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    .header__button {
        display: none;
    }
    
    header .phone {
        margin: 0 10px;
    }
    
    .kenburn-slider .caption {
        font-size: 50px;
    }
    
    .kenburn-slider .small-caption {
        font-size: 30px;
    }
    
    .plant .wrapper {
        flex-direction: column;
    }
    
    .plant__info {
        max-width: none;
    }
    
    .plant__advantages {
        margin: 35px 0 0;
        width: 100%;
    }
    
    .advantages__map {
        display: none;
    }
    
    .advantages__ray {
        display: none;
    }
    
    .advantages__icon {
        width:90px;
        height:90px;
    }
    
    .advantages__advantage_delivery .advantages__icon,
    .advantages__advantage_delivery .advantages__text {
        position: initial;
    }
    
    .steps__group {
        width: 100%;
    }
    
    .steps__step {
        margin-bottom: 25px;
    }
    
    .steps__illustrated {
        display: none;
    }
    
    .form .wpcf7-form-control-wrap {
        width: 100%;
        margin-bottom: 15px;
    }
    
    .documents__background {
        display: none;
    }
    
    .documents .wrapper {
        flex-direction: column-reverse;
    }
    
    .documents__photo {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .header__button {
        display: none;
    }
    
    .products__item {
        padding: 20px;
    }
    
    .advantages__advantage {
        width: 50%;
        padding: 10px;
    }	
    
    .partners__partner-wr {
        width: 50%;
    }
    
    .first-footer .wrapper {
        flex-direction: column;
    }
    
    .logo_footer {
        margin: 0 auto 30px;
    }
    
    .contacts {
        justify-content: center;
    }
    
    footer .menu li {
        float: none;
        text-align: center;
    }
    
    footer .menu li:first-child a {
        padding: 19px 18px;
    }
    
    footer .menu li:before{
        display: none;
    }
}

@media screen and (max-width: 639px) {
    
    .phone__number {
        font-size: 16px;
    }
    
    .phone__info {
        font-size: 8px;
    }
    
    header .menu {
        top: 189px;
    }
    
    .form {
        padding: 20px 10px 30px;
    }
    
    .form__button {
        padding: 0 10px;
    }
    
    .form__button::before {
        display: none;
    }
    
    .contacts {
        flex-direction: column;
    }
    
    .contacts__line {
        display: none;
    }
    
    .contacts__column {
        margin: 0 auto 10px;
        max-width: 259px;
        text-align: center;
    }
    
    .third-footer .wrapper {
        flex-direction: column;
        text-align: center;
    }
}














